{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
  <br>
  <div class="form-group">

    <center>
      <h6 class="dashed-heading">Our Mission</h6>
    </center>
    <br>
    <p>Our mission is to create positive change in the lives of those in need by connecting
      them with support from individuals and organizations. We strive to build long-lasting
      relationships that foster a more compassionate and equitable society.</p>
<br>
    <center>
      <h6 class="dashed-heading">What is GoFundKE ?</h6>
    </center>
    <br>

    <div>
      <p>
        We are a Kenyan-based charity, committed to connecting people in need with those
        who are willing to help. Our mission is to bridge the gap between those who are
        less fortunate and those who can lend a helping hand. Our dedicated team works
        tirelessly to identify people in need and connect them with individuals or
        organizations who can provide support, creating long-lasting relationships
        for a brighter future. We are proud to work alongside the local community to
        create positive change and a more compassionate society.
      <br><br>

        <center>
              <h6 class="dashed-heading">Our Leadership</h6>
        </center>
    <br>


      <div class="leadership">
        <div class="leaders">
          <div><img src="{% static 'Users/DSC_0999_2.jpg'  %}"></div>
          <div>
            <br>
            <p>Kevin N. Gitundu</p>
            <small>Co-Founder & C.E.O  </small>
            <p class="text-muted container">
                kevin co-ordinates all non commerce activitites in the day to
                day operations of the organisation. He also organises for annual
                charity congress meetings.
            </p>
          </div>
        </div>
      <div class="leaders">
          <div><img src="{% static 'Users/DSC_0999_2.jpg'  %}"></div>
          <div>
            <br>
            <p>Kevin N. Gitundu</p>
            <small>Co-Founder & C.E.O  </small>
            <p class="text-muted container">
                kevin co-ordinates all non commerce activitites in the day to day operations of the organisation.
            </p>
          </div>
        </div>

      </div>
<br>
        <br>
        <div >
            <center>
                  <h6 class="dashed-heading">Our Achievements</h6>
            </center>
            <div>
               <p>Over the past year, our charity organization has accomplished
                   a great deal in support of our mission to [insert
                   mission statement here]. Specifically, we are proud to report that:</p>
            </div>
            <br>

            <div class="achievements">
                <div class="">
                  <span>  <p>Users</p> <h5 style="color:green;">256K+</h5>  </span>
                </div>
                <div class="">
                  <span>  <p>Projects</p> <h5 style="color:green;">2.6K+</h5>  </span>
                </div>
                <div class="">
                  <span>  <p>Events</p> <h5 style="color:green;">200+</h5>  </span>
                </div>
                <div class="">
                  <span>  <p>Organisations</p> <h5 style="color:green;">1.1K+</h5>  </span>
                </div>

            </div>



        </div>

       <br>
         <center>
              <h6 class="dashed-heading">Contact Us</h6>
         </center>


       <br>
        <br>
        <div>

            <ul style="list-style:none;">
                <li><i class="bi bi-facebook"></i> GoFundKE</li>
                <li><i class="bi bi-twitter"> </i>@GoFundKE</li>
                <li><i class="bi bi-linkedin"></i> @GoFundKE</li>
                <li><i class="bi bi-phone"></i>+254 742134431</li>
                <li><i class="bi bi-envelope-at"></i>gofundke.org@ac.ke</li>

            </ul>
        </div>

    <form method="post">

      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="names">Official Names</label>
            <input type="text" class="form-control" id="names" name="names" placeholder="John Doe"  required>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" id="location" name="location" placeholder="Country, City, Street" required></input>
          </div>
            <br>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="mail">E-Mail</label>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="johndoe@gmail.com"  required></input>
          </div>
            <br>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" id="phone" name="phone" placeholder="254 712 345 678" ></input>
          </div>
            <br>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="quiz">Your Question</label>
            <textarea class="form-control" id="quiz" name="quiz" rows="5" placeholder="lorem ipsum gem mien sui noi ables" value="{{ data1.lname }}" required></textarea>
          </div>
            <br>
        </div>
      </div>
    <center>
            <button class="btn btn-primary" style="margin-bottom:20px;">Submit</button>
    </center>
    </form>
  </div>

</div>



{% endblock %}