{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>


<center>
    <div class="home">
        <div>
            <h5 class="theme">You Are A Bliss</h5>
        </div>
       <a href="{% url 'gofund' %}"> <button class="starter">Start a GoFundKE</button></a>
    </div>
</center>
<br><br>
<div id="smart">
<div class="container" >
    <div class="intro">
        <h4>Who Are We?</h4>
        <p>GoFundKE is a Kenyan Charity Organisation that plans, organises and
            facilitates provision of charitable activities. Our main aim is to link
            people in need to the people who yearn to make a difference.
        </p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5><span class="badge rounded-pill bg-info text-dark">STEP 1</span>
            </h5>

            <small>Share your name and location.</small>
        </div>
        <div class="col">
            <h5><span class="badge rounded-pill bg-info text-dark">STEP 2</span>
 </h5>
            <small>give a brief incite about your charity project.</small>
        </div>
        <div class="col">
            <h5><span class="badge rounded-pill bg-info text-dark">Finally</span>
            </h5>
            <p>Share with the community for support.</p>
        </div>
    </div>
</div>
</div>
<br>

<div class="continer">
    <div class="container">
       <small class="container">Events near you</small> 
    </div>
    
    
    <br>
    <div class="events">
        {% for charity in charities %}
        
        <div>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO-4Q4uAw7MPWWiDNf2KqwdAswigARFbz6_Q&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="{% url 'projectid' charity.id %}" style="text-decoration:none;"><h6 class="card-title">{{ charity.title }}</h6></a>
                  <p class="text-muted" style="font-size:13px;">{{ charity.problem }}</p>

                    <p class="text-muted">progress</p>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: {{ charity.percentage }}%;" aria-valuemin="0" aria-valuemax="100">{{ charity.percentage }}%</div>
                        </div>
                   <p class="txt txt-dark">{{ charity.achieved_amount }}|{{ charity.target_amount }}</p>

                </div>
              </div>
        </div>
        {% endfor %}

        </div>
    </div>
</div>


<br>



<footer>
    <div class="footer">
        <span>
            <i class="bi bi-paypal"></i>
            <i class="bi bi-currency-bitcoin"></i>
            <i class="bi bi-credit-card-2-back-fill"></i>
            <i class="bi bi-bank"></i> 
            <i class="bi bi-piggy-bank"></i>
            <i class="bi bi-coin"></i>
        </span>
        <div>
            <ul>
                <li><h5>Charity For</h5></li>
                <li><i class="bi bi-book"></i> Education</li>
                <li><i class="bi bi-lungs"></i> Medication</li>
                <li><i class="bi bi-cloud-lightning"></i> Emergency</li>
                <li><i class="bi bi-person-hearts"></i> Community</li>
            </ul>
        </div>
        <div>
            <ul>
                <li><h5>Guide</h5></li>
                <li>Events</li>
                <li>How to join</li>
                <li>Questions</li>
                <li>Community</li>
            </ul>
        </div>
        <div>
            <ul>
                <li><h5>Contact Us</h5></li>
                <li><i class="bi bi-facebook"></i> Facebook</li>
                <li><i class="bi bi-twitter"> </i>Twitter</li>
                <li><i class="bi bi-linkedin"></i> Linkedin</li>
                <li><i class="bi bi-phone"></i> Phone</li>
            </ul>
        </div>

    </div>
  </footer>



{% endblock %}